.toolbar,
.statusbar {
  display: flex;
  flex-wrap: wrap;
}

.bar-item {
  display: inline-flex;
  align-items: center;
}

.bar-item-button {
  min-height: 30px;
  border-radius: 3px;
  border: 1px solid transparent;
  box-sizing: border-box;
}
