.toolbar,
.statusbar {
  display: flex;
  flex-wrap: wrap;
}

.toolbar-item-button {
  min-height: 30px;
  border-radius: 3px;
  border: 1px solid transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.toolbar-item-checked {
  border-color: #95a5a6;
}
